* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

body {
    font-family: 'Open Sans', sans-serif;       
}

header {
    display: flex;
    height: 50px;
    align-items: center;
    font-size: 13px;
    margin-top: 10px;
}

header ul {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;    
    width: 100%;
    list-style-type: none;
}

header li {
    display: block;
    margin: 5px 10px 5px 10px;    
}

.gmail , .image {
    text-decoration: none;
}

.gmail:hover , .image:hover{
    text-decoration: underline;
}


.expand-logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 20px;
    width: 20px;
}

.grid1 , .grid2 , .grid3 , .grid4 , .grid5 , .grid6 , .grid7 , .grid8 , .grid9{
    display: flex;
    width: 25%;
    height: 25%;
    margin-right: 8%;
    margin-bottom: 8%;
    background-color: gray;
    border: 1px solid black;
}


.profile {
    margin-right: 20px;
}


.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.banner-image {
    position: relative;
    display: flex;
    width: 50%;
    justify-content: center;
    height: 220px;
}

.link {
    position: absolute;
    right: 185px;
    bottom: 10px;
}

.search-box {
    display: flex;
    position: relative;
    width: 33%;
    justify-content: space-between;
    margin: 0 -1em;
    align-items: center;
    height: 50px;
    border: 2px solid #8F8F8F;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.search-button {
    display: flex;
    width: 50%;
    justify-content: center;
    flex-direction: row;

    height: 50px;
    align-items: center;
}

.serach-icon-wrapper {
    display:flex;


}

.voice-icon-wrapper {
    display:flex;

}

.search-icon , .voice-icon {
    display: flex;
    margin: 15px;
    width: 30px;
    height: 30px;
}


.button1 , .button2{
    display: flex;
    width: 17%;
    border-radius: 3px;
    background-color: #F8F8F8;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    height: 30px;
}


.button1:hover , .button2:hover {
    cursor: pointer;
    border: 1px solid #AFAFAF;    
}

.explain {
    display: flex;
    width: 50%;
    justify-content: center;
    height: 350px;
}

.lang-explain {
    margin-top: 15px;
}


footer {
    position: fixed;
    bottom: 0;
    background-color: #DCDCDC;
    width: 100%;
    color: #696969;
    font-size: 13px;
}

.country-info {
    display: flex;
    width: 100%;
    text-align: left;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid black;
    border-bottom-color: #A9A9A9;
    
}

.country-info span {
    margin-left: 30px;

}

.explain .korean:hover {
    text-decoration: underline;
    cursor: pointer;
}


.extra-links , .country-info{
    height: 35px;
}

footer ul {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;    
    list-style-type: none;
}

footer li {
    display: block;
    margin: 5px 10px 5px 10px;    
}

.left-footer {
    float:left;
}

.left-footer:first-of-type {
    margin-left: 20px;
}

.right-footer {
    float:right;
}