{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>        
        <link rel="stylesheet" href="{% static 'main/css/style.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'main/css/introduction.css' %}" type="text/css" />
        
    

    </head>
    <body>
        <div id="header">
        {% include './header.html' %}
        </div>
        
        <div class="intro-wrapper">
            <div class="intro-title">
                <h2>고객 여러분께</h2>
            </div>
            
            <div class="intro-img">
                <img src="{% static 'main/images/ceo.jpg' %}"></img>
            </div>
            
            <div class="intro-text">
                <p> <span> some important bold message something maybe welcome message </span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultricies semper sapien. Sed elementum fringilla ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc malesuada, orci quis tempor iaculis, erat ex aliquet dui, eget tempus ante lorem ac mauris. Etiam ullamcorper eget tellus sit amet vulputate. Etiam fringilla augue in aliquet condimentum. Proin ut mauris dolor. Nunc nec suscipit dui. Vivamus enim urna, placerat at dapibus in, semper nec eros. Aenean quam lorem, luctus a vulputate sed, venenatis nec nunc.
                Vestibulum laoreet odio in vestibulum congue. Etiam quis urna efficitur justo euismod imperdiet. Nam vehicula accumsan elit, a venenatis augue luctus vulputate. Phasellus mollis dapibus velit, eu blandit ante porta in. Maecenas maximus mi vitae orci interdum convallis. Morbi dictum ex accumsan nibh molestie vulputate. Mauris auctor eros ut tortor accumsan, tincidunt mattis est condimentum. Phasellus vitae pharetra metus. Nulla tristique eros mauris, quis rutrum felis dapibus in. Etiam et ligula ut magna placerat viverra. Morbi tellus orci, viverra euismod scelerisque non, ultrices sit amet leo. Nam malesuada nec massa rhoncus gravida. Suspendisse sodales mi consectetur, fringilla tortor vel, scelerisque urna. Nam viverra, odio ut ultrices malesuada, dolor magna malesuada odio, sed efficitur velit magna sed nunc. In erat eros, volutpat vel fermentum blandit, dapibus eget tellus.
                Morbi facilisis quam non magna egestas, aliquet cursus orci dictum. Vivamus convallis sit amet urna ac sagittis. In fermentum orci at odio interdum sodales. Quisque sit amet pharetra augue, ut porta odio. Cras posuere orci eu pharetra auctor. Vestibulum euismod neque turpis, nec interdum quam varius ut. Nulla sed tellus laoreet, tempus justo ut, vestibulum purus. Pellentesque condimentum efficitur enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec a feugiat orci, eget laoreet leo. Sed quam nulla, ultricies id facilisis in, tristique in arcu. Aliquam ex tortor, lacinia et quam at, finibus pellentesque nibh. Aenean scelerisque lacus interdum iaculis volutpat. Ut ultrices nisi felis, at dignissim lacus aliquam vel.
                nissim non purus. Integer aliquet interdum mauris sit amet sagittis. Nam facilisis mi purus, id porttitor lorem euismod eget. Quisque molestie diam eget est porta, a finibus nunc varius. Morbi finibus hendrerit est id vehicula. Nulla nisl sapien, ultrices quis imperdiet ac, ultricies quis nisi.
                </p>
            </div>
            
        </div>
        
        <div id="footer">
        {% include './footer.html' %}
        </div>
        
    </body>
</html>    